.boton{
    background-color: #6278F7;
    border: none;
    border-radius: 16px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 700;
    margin: 32px 0;
    padding: 24px 32px; 
}

.boton:hover{
    color: #95FFD4;;
}